recursive-include libconfix *.py
include scripts/*.py
include ChangeLog*

recursive-include share *

recursive-include tests *

include README
include INSTALL
include LICENSE
include COPYING
include ChangeLog
include HACKING
